.trending {
    display: flex;
    margin: 0 0 50px 0;
    // background-image: url('https://image.tmdb.org/t/p/w500/xUfRZu2mi8jH6SzQEJGP6tjBuYj.jpg');
    // background-repeat: no-repeat;
    // background-position: 0;
    // background-size: cover;
    background-color: #212121;
    width: 60vw;
    height: 200px;
    border-radius: 20px;
}

@media (max-width: 1720px) {
    .trending {
        width: 55vw;
    }
}

@media (max-width: 1520px) {
    .trending {
        width: 50vw;
    }
}

@media (max-width: 1375px) {
    .trending {
        width: 40vw;
    }
}