@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all {
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.logo {
    position: absolute;
    display: flex;
    align-items: center;
    top: 5vh;
    left: 5vw;
}

.regBg {
    position: relative;
    height: 100%;
}

.text {
    position: absolute;
    top: 25vw;
    left: 5vw;
    color: white;
}

.text h1 {
    margin: 0 0 20px 0;
}

.text p {
    margin: 0 0 20px 0;
}
  
.bg {
    height: 100vh;
    width: 50vw;
    vertical-align:top;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 70vw;
}

.form p {
    color: #BABABAB2;
}

.field {
    display: grid;
}